
:root {
    --primary-color: #5b7594;
    --secondary-color: #404040;
    --background-color: #c2c3c3;
    --color-green: #37ff00;
    --color-red: #ff0000;
    --color-button: #fdffff;
    --color-black: #000;
    --button-bg: var(--primary-color);
    --button-hover-bg: var(--secondary-color);
    --dropdown-bg: var(--primary-color);
    --dropdown-link-color: #000;
    --dropdown-link-hover-color: #fff;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}
.importante{
color: var(--color-red);
}
.content-wrapper {
    width: 100%;
    max-width: 1200px; /* Ancho máximo para el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Permite que el contenido principal crezca */
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.chord-buttons-exe {
    border: 2px solid #007bff;
    display: flex;
    flex-direction: row;
}

#opciones {
    display: flex;
    width: 75%;
    border-radius: 5px;
}



.custom-checkbox {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #f9f9f9; /* Fondo gris muy claro */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
}

.custom-checkbox input[type="checkbox"] {
    appearance: none; /* Elimina el estilo predeterminado del checkbox */
    width: 20px;
    height: 20px;
    border: 2px solid #555; /* Borde gris oscuro */
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: #091209; /* Fondo verde cuando está marcado */
    border-color: #141921e4; ; /* Borde verde cuando está marcado */
}

.custom-checkbox input[type="checkbox"]:checked::before {
    content: '\2713'; /* Símbolo de verificación */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
}

.custom-checkbox:hover {
    background-color: #f0f0f0; /* Fondo gris ligeramente más oscuro al pasar el ratón */
    border-color: #aaa; /* Borde gris ligeramente más oscuro al pasar el ratón */
}


#grados{
width: 90%;
background-color:var(--secondary-color);
padding: 10px 20px;
font-size: 16px;
margin: 1px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.2s ease;
}
#grados2{
width: 90%;
background-color:var(--secondary-color);
padding: 10px 20px;
font-size: 16px;
margin: 1px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.2s ease;
}


button {
    background-color: var(--button-bg);
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    
    background-color: var(--button-hover-bg);
}

.dropdown2 {
    display: inline-block;
    position: relative;
    width: 100%; /* Ancho fijo para los dropdowns */
    border-radius: 10px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 10; /* Asegura que el dropdown esté encima de otros elementos */
}

.dropdown2:hover .dropdown-content2 {
    display: block;
    width: 200%;
    border-radius: 10px;
}

.dropdown-content2 button {
    display: block;
    color: var(--dropdown-link-color);
    padding: 10px;
    text-decoration: none;
    background-color: var(--dropdown-bg);
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-content2 button:hover {
    color: var(--dropdown-link-hover-color);
    background-color: var(--button-hover-bg);
  
}



.dropdown3 {
    display: inline-block;
    position: relative;
    width: 100%; /* Ancho fijo para los dropdowns */
    border-radius: 10px;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 10; /* Asegura que el dropdown esté encima de otros elementos */
}

.dropdown3:hover .dropdown-content3 {
    display: block;
    width: 200%;
    border-radius: 10px;
}

.dropdown-content3 button {
    display: block;
    color: var(--dropdown-link-color);
    padding: 10px;
    text-decoration: none;
    background-color: var(--dropdown-bg);
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-content3 button:hover {
    color: var(--dropdown-link-hover-color);
    background-color: var(--button-hover-bg);
  
}


.checkbox-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.checkbox-container label {
    margin: 0 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 200px; /* Ancho fijo para los dropdowns */
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: var(--dropdown-link-color);
    padding: 10px;
    text-decoration: none;
    background-color: var(--dropdown-bg);
}

.dropdown-content a:hover {
    color: var(--dropdown-link-hover-color);
    background-color: var(--button-hover-bg);
}

.piano {
    display: flex;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.white-key, .black-key {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.white-key {
    width: 60px;
    height: 250px;
    background-color: white;
    border: 1px solid #ccc;
}

.white-key:active {
    background-color: #eee;
}

.black-key {
    width: 40px;
    height: 150px;
    background-color: black;
    border: 1px solid #333;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 1;
    position: relative;
}

.black-key:active {
    background-color: #333;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#search, #category {
    width: 90%;
    max-width: 500px; /* Ancho máximo fijo */
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
}

.nav {
    border: 2px solid #007bff;
    display: flex;
    flex-direction: row;
}

.bloques {
    width: 90%;
    max-width: auto;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bloques-nav {
    display: flex;
    width: 100%;
    gap: 30px; /* Reducción del gap */
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.book {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 200px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.book h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.book a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.book a:hover {
    color: #0056b3;
}

#logo {
    border-radius: 50%;
    display: block;
    top: 20px;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
}
.tacuara{
    align-items: center;
}
.image-tacuara{
    max-width: 30%;
    height: auto;

}
footer {
    text-shadow: 0 2px 3px black;
    background: #7b7b7d68;
    text-align: center;
    color: #333;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.switch-button {
    display: inline-block;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
    left: 75px;
    top: 10px;
}

.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--color-black);
}

.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}

.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}

@media (max-width: 768px) {
    .book-list {
        flex-direction: column;
        align-items: center;
    }

    #search, #category, .nav {
        width: 100%;
        max-width: 500px;
    }

    body {
        justify-content: center;
    }

    .bloques-nav {
        flex-direction: column;
        gap: 20px;
    }

    .dropdown {
        width: 100%;
    }
}


/* ... (resto del CSS) ... */

/* Ajustes para pantallas grandes */
@media (min-width: 769px) {
    .piano {
        width: auto; /* El piano ocupa su ancho original */
    }

    .white-key {
        width: 60px; /* Restaura el ancho original */
        height: 250px; /* Restaura la altura original */
    }

    .black-key {
        width: 40px; /* Restaura el ancho original */
        height: 150px; /* Restaura la altura original */
        margin-left: -20px; /* Restaura el margen original */
        margin-right: -20px; /* Restaura el margen original */
    }

    .chord-buttons-exe {
        flex-direction: row; /* Vuelve a la disposición horizontal */
        align-items: flex-start; /* Alinea los botones a la izquierda */
    }

    #opciones {
        width: 75%; /* Restaura el ancho original */
    }

    .dropdown2 {
        width: 100%; /* Restaura el ancho original */
    }

    nav {
        flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    }

    .bloques-nav {
        flex-direction: row; /* Vuelve a la disposición horizontal */
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    /* ... (tu CSS para pantallas pequeñas) ... */
}